<div class="book-sidebar">
  <p class="site-meta">
    <a href="https://zeya.work" target="_self">Go Back</a>
  </p>
  <div class="sidebar-content">
    <%- sidebar %>
  </div>
</div>

<%- js('/js/book-sidebar') %>
<%- css('/css/style.css') %>